@using Microsoft.AspNetCore.Http;
@inject  Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = "Enviar dados";
}

<h1>Enviar dados</h1>

<div class="card">
    <div class="card-body">
        <form method="POST" action="/data/cadastrar">
            Conteudo da Sessao:  @HttpContextAccessor.HttpContext.Session.GetString("CodigoProduto")
            <br />
            <label for="temperature">Temperatura (em graus celsius)</label>
            <input type="number" id="temperature" value="@ViewBag.Data.Temperature" name="data.Temperature" />
            @Html.ValidationMessage("data.Temperature")
            <br />
            <label for="rain">Está chovendo muito?</label>
            <select id="rain" class="custom-select" name="data.Rain" value="@ViewBag.Data.Rain">
                <option value="" selected>Escolha uma opção</option>
                <option value="sim">Sim</option>
                <option value="nao">Não</option>
            </select>
            <br />
            @Html.ValidationMessage("data.Rain")
            <label for="humidity">A umidade está muito alta?</label>
            <select id="humidity" class="custom-select" name="data.Humidity" value="@ViewBag.Data.Humidity">
                <option value="" selected>Escolha uma opção</option>
                <option value="sim">Sim</option>
                <option value="nao">Não</option>
            </select>
            @Html.ValidationMessage("data.Humidity")
            <br />
            <input type="submit" value="Cadastrar" />
        </form>
    </div>
</div>