@{
    ViewData["Title"] = "Enviar dados";
}

<div class="card container">
    <div class="card-body">
        <form method="POST" action="/data/cadastrar">
            <br />
            <label for="temperature">Temperatura (em graus celsius)</label>
            <input type="number" id="temperature" value="@ViewBag.Data.Temperature" name="data.Temperature" required/>
            @Html.ValidationMessage("data.Temperature")
            <br />
            <label for="rain">Está chovendo muito?</label>
            <input id="rain" type="number" name="data.Rain" value="@ViewBag.Data.Rain" required />
            <br />
            @Html.ValidationMessage("data.Rain")
            <label for="humidity">A umidade está muito alta?</label>
            <input id="humidity" type="number" name="data.Humidity" value="@ViewBag.Data.Humidity" required />
            @Html.ValidationMessage("data.Humidity")
            <br />
            <input type="submit" value="Cadastrar" />
        </form>
    </div>
</div>