
@model List<ProdutoModel>

@{
    ViewData["Title"] = "Index";
}



<h1>Index</h1>
@Html.ActionLink("Adicionar Novo Produto","formulario","produto")

<div>
    <table>
        <thead>
            <tr>
                <th>Nome</th>
                <th>Unidade</th>
                <th>Quantidade</th>
                <th>Ação</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var item in Model)
            {
                <tr>
                    <td>@item.Nome</td>
                    <td>@item.UnidadeMedida</td>
                    <td id="quantidade@(item.Id)">@item.Quantidade</td>
                    <td>
                        <a onclick="DecrementarQuantidade('@item.Id')" href="#">Decrementar quantidade</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script>
    function DecrementarQuantidade(id) {
        var url = "/Produto/DecrementarQuantidade";
        var parametro = { idProduto: id };
        $.post(url, parametro, RetornaProcessamento);
    }

    function RetornaProcessamento(retorno) {
        var celula = $("#quantidade" + retorno.id);
        celula.html(retorno.quantidade);
    }

</script>